* {
    margin:0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(201,179,215,1) 33%, rgba(148,187,233,1) 100%);
}

.container {
    background-color: rgb(228, 247, 226);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh ;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select , button , input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px lightgray;
    font-size: 1rem ;
    height: 2rem;
    padding-left:0.5rem ;
}

.dropdown {
   display: flex;
   justify-content: space-between;
   align-items:center ;
   margin-top: 2rem;
}
.dropdown {
    font-size: 1.2rem;
    margin-top:1rem ;
}
.select-container img {
    max-width: 2.5rem;

}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.6rem;
    background-color: rgb(162, 136, 183);
    border: 1px lightgray;
}

.msg {
    margin:  2rem 0 2rem 0;
}

form button {

    height: 3rem;
    background-color: rgb(135, 246, 101);
    font-size: 1.12rem;
    cursor: pointer;
}